*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #c895a5;
}
.container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 60vh;
    width: 50vh;
}
form{
    margin: 2rem 0 1rem 0;
}
form select, button, input{
    width: 100%;
    outline: none;
    border: none;
}
form input{
    border: 1px solid lightgrey;
    font-size: 1rem;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 0.75rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
}
.select-container img{
    max-width: 2rem;  
}
.select-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    border-radius: 7px;
    border: 1px solid lightgrey;
    cursor: pointer;
}
.select-container select{
    font-size: 1rem;
    height: 2rem;
    width: auto;
    background-color: white;
    cursor: pointer;
}
.msg{
    margin: 2rem 0 2rem 0;
}
form button{
    height: 3rem;
    background-color: #af4d98;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 0.75rem;
}
form button:hover{
    background-color: #aa318e;
}